bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.env

Commerce.Api/appsettings.json

# Build outputs
*.dll
*.deps.json

# data sources
*.xml

*.DotSettings.user
.idea/
*.exe
*.suo
*.user
*.config
*.runtimeconfig.json